

html, body {
  width: 100%; height: 100%; padding: 0; margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%; height: 100%; padding: 0; margin: 0;
  background-color: rgba(65, 132, 244, 0.05);
  background-color: #E7EBED;
  background-color: #F1F2F4;
}